.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    height: 100%;

    .hidden-input {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
        border: none;
        margin: -1px;
        padding: 0;
        clip: rect(0,0,0,0);
        overflow: hidden;
    }

    .timer {
        font-size: 21pt;
        margin: 5px;
        color: var(--h1-color);
    }
}

.algobox{
    font-size: 21pt;
    height: 250px;
    display: block;
    overflow-y: hidden;
    flex-wrap: wrap;
    user-select: none;
    white-space: pre-wrap;

    .algorithm-line{
        white-space: pre-wrap;
        margin-bottom: 5px;
    }

    
}

.box {
    font-size: 21pt;
    overflow: hidden;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    white-space: pre-wrap;

}

.word {
    position: relative;
    margin: 0 5px 2px;
    line-height: 32px;
}

.untyped {
    color: var(--foreground-color); // untyped colour
}

.correct {
    color: var(--text-color); // font colour
}

.incorrect {
    color: var(--incorrect); // remain the same ? 
}

.trailing {
    color: var(--trailing);
}


.caret {
    position: absolute;
    z-index: 1;
    margin-left: -7.29165px;
    transition: left 0.1 ease;
    color: var(--h1-color); // h1 colour 

    &.blink {
        animation: blink 1.0s infinite 1s;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1;}
    50% { opacity: 0; }
}

.result {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 10;
    font-size: 35pt;

    
    button{
        margin-top: 40px;
        font-size: 22pt;
    }
}

.box,
.timer {
    visibility: visible;
}