footer {
    margin: 100px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}

a {    
    &:hover{
        color: var(--text-color); // font colour
        font-weight: 700;
    }
}