footer {
    margin-bottom: 50px;
    width: 50%;
    justify-content: center;
    display: flex;
    position: relative;

}

a {    
    &:hover{
        color: #d4d4d4; // font colour
        font-weight: 700;
    }
}

.hidden {
    visibility: none;
}