
$theme-default: (
    bg-color: #1e1e1e,
    text-color: #d4d4d4,
    h1-color: #ce9178,
);

$theme-dark: (
    bg-color: #1e1e1e,
    text-color: #d4d4d4,
    h1-color: #ce9178,
);

$theme-beige: (
    bg-color: #1e1e1e,
    text-color: #d4d4d4,
    h1-color: #ce9178,
);

$theme-vscode: (
    bg-color: #1e1e1e,
    text-color: #d4d4d4,
    h1-color: #ce9178,
);

$theme-github: (
    bg-color: #1e1e1e,
    text-color: #d4d4d4,
    h1-color: #ce9178,
);

@mixin apply-theme($theme) {
    --background-color: map-get($map: $theme, $key: bg-color);
    --text-color: map-get($map: $theme, $key: text-color);
    --h1-color: map-get($map: $theme, $key: h1-color);
}