@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

// Themes
.default {
  --background-color: #1e1e1e;
  --foreground-color: #474747;
  --text-color: #d4d4d4;
  --h1-color: #e19c33;
  --incorrect: #c72c41;
  --trailing:rgba(199, 46, 66, 0.594);
}

.light {
  --background-color: #dddddd;
  --foreground-color: rgb(140, 132, 132);
  --text-color:  #171717;
  --h1-color: #1f1d1d;
  --incorrect: #c72c41;
  --trailing:rgba(199, 46, 66, 0.594);
}

.night {
  --background-color: black;
  --foreground-color: #292f34;
  --text-color:  lightslategrey;
  --h1-color: rgb(82, 60, 170);
  --incorrect: #c72c41;
  --trailing:rgba(199, 46, 66, 0.594);
}


.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: Inconsolata, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

html {
  position: absolute;
}

body {
  margin: 0;
}

// root 
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: var(--text-color) ; /* need to update this! */
  background-color: var(--background-color);
}




// buttons - restart + selection buttons
button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 10px;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;

  //heading buttons
  &.mini { 
    font-size: 12pt;
    border: none;
    padding: 5px;
    margin: 0;

    &.selected {
      color:var(--h1-color);
      text-decoration:underline;
    }

  }

  &:hover {
    color: var(--h1-color);
    border-color: var(--h1-color);
    transition: color 0.1s ease;
  }

}

// links
a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.1s ease;

  &:hover{
    color: var(--h1-color);
  }

}