.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    height: 99.8%;
    width: 50%;
    margin: 0 auto;

    .hidden-input {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
        border: none;
        margin: -1px;
        padding: 0;
        clip: rect(0,0,0,0);
        overflow: hidden;
    }

    .timer {
        font-size: 21pt;
        margin: 5px;
        color:#ce9178;
    }



}


.box {
    font-size: 21pt;
    overflow: hidden;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

    .word {
        position: relative;
        margin: 0 5px 2px;
        line-height: 32px;
    }

    .untyped {
        color: #474747; // untyped colour
    }

    .correct {
        color: #d4d4d4; // font colour
    }

    .incorrect {
        color: #c72c41; // remain the same ? 
    }    


    .caret {
        position: absolute;
        z-index: 1;
        margin-left: -7.29165px;
        transition: left 0.1 ease;
        color: #ce9178; // h1 colour 

        &.blink {
            animation: blink 1.0s infinite 1s;
        }
    }
    
    @keyframes blink {
        0%, 100% { opacity: 1;}
        50% { opacity: 0; }
    }

}



