header {
    margin: 100px 0;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    position: relative;
    font-size: 12pt;
    font-weight: 700;
    
    .buttons {
        display: flex;
        flex-direction:column;
        align-items: flex-end;

        :disabled{
            color: var(--foreground-color);
            cursor: default;
        }

    }

    .sign {
        font-size: 24pt;
        align-self: center;
        margin-right: 0 auto;
        &:hover {
            color: var(--foreground-color); 
        }

    }
    
}

.title {
    font-weight: 400;
}

.hidden {
    visibility: hidden;
}




